<?xml version="1.0"?>
<!--/**
* CodeBaby_Email | module.xml
* Created by CodeBaby DevTeam.
* User: cadu.higueras
* Date: 10/4/2021
**/-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CodeBaby_Email">
        <sequence>
        </sequence>
    </module>
</config>
